.checkoutProduct{
    display: flex;
    margin: 20px 0px;
    box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.checkoutProduct > img {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating, .checkoutProduct__price {
    display: flex;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 600;
    max-width: 400px;
    align-content: flex-start;
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}